{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
  </div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-at"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    {%- endif %}
    {% if site.location -%}
      <li>
        <i class="sidebar-icon fas fa-location-arrow"></i>
        <a class="contact-info u-location" href="https://www.google.com/maps/search/{{ site.location }}">{{ site.location }}</a>
      </li>
    {%- endif %}
  </ul>
</div>

<div class="sidebar-section">
  <ul class="intro">
    <a class="introduce" href="https://cheondi.github.io/about/"> 게임 개발자 cheondi입니다.<br> 현재 Unity를 이용해 개발한 "엉망진창 가로세로"를 라이브 운영 중입니다.</br></a>
  </ul>
</div>

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
    </ul>
  </div>
{%- endif %}
<div class="sidebar-section">
<div class="col-lg-4 col-md-2">
  <ul>
    {% for category in site.categories %}
    <li>{{ category | fist }} ({{category | last | size}})</li>
    {% endfor %}
  </ul>
</div> 
</div>
<!-- 
<div class="sidebar-section">
  <ul class="tt_category">
    <li class="">
      <a class="link_tit">
        카테고리
      </a>
      <ul class="category_list">
        <li class="">
          <a class="link_item" >
            프로그래밍
          </a>
          <ul class="sub_category_list">
            <li class="">
              <a class="link_sub_item"
                href="" >
                ↳	유니티
              </a>
            </li>
            <li class="">
              <a class="link_sub_item"
                href="">
                ↳	알고리즘

              </a>
            </li>
            <li class="">
              <a class="link_sub_item"
                href="">
                ↳	기타
              </a>
            </li>
          </ul>

        </li>
        <li class="">
          <a class="link_item" >
            프로젝트
          </a>
          <ul class="sub_category_list">
            <li class="">
              <a class="link_sub_item"
                href="">
                ↳	ProjectA
              </a>
            </li>
            <li class="">
              <a class="link_sub_item" href="">
                ↳	ProjectB
              </a>
            </li>
            <li class="">
              <a class="link_sub_item"
                href="">
                ↳	엉망진창 가로세로 Live

              </a>
            </li>
          </ul>

        </li>
        <li class="">
          <a class="link_item" >
            기타
          </a>
          <ul class="sub_category_list">
            <li class="">
              <a class="link_sub_item"
                href="">
                ↳	그림
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div> -->